logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/limb-docs-indexer/id_url.db
/limb/
debian/files
debian/limb-docs-searcher.debhelper.log
debian/limb-docs-searcher.postinst.debhelper
debian/limb-docs-searcher.preinst.debhelper
debian/limb-docs-searcher.prerm.debhelper
debian/limb-docs-searcher.substvars
debian/limb-docs-searcher/
debian/limb-docs-searcher-static.debhelper.log
debian/limb-docs-searcher-static.substvars
debian/limb-docs-searcher-static/

datebuild
