Source: limb-docs-searcher
Section: java
Priority: extra
Maintainer: Andrew Rezcov <rsa199@ya.ru>
Build-Depends:
  sbt,
  debhelper (>= 9)
Standards-Version: 3.9.4

Package: limb-docs-searcher
Section: java
Priority: optional
Architecture: all
Depends: ${misc:Depends},
  default-jdk  (>= 1.7)
Description: Limb docs searcher
 Limb documents searcher

Package: limb-docs-searcher-static
Architecture: all
Depends: ${misc:Depends}
Description: Limb documents searcher staic package
 Contains css, javascript and image files for limb-docs-searcher package
