@(results: Array[controllers.Application.Result], statistics: Array[java.util.Map[_, _]])

@main("Результаты поиска") {
  @form()
  @statistics.map { keyword =>
    По ключевому слову @keyword.get("normalized") найденно  @keyword.get("docs") документов <br>
    Слово @keyword.get("normalized") встречается @keyword.get("hits") раз <br>
   }
  @if(results.length != 0) {
    <ol>
    @results.map { row =>
     <li> <a target="_blank" href="https://github.com/limb-php-framework/limb/blob/master/@row.link">@row.header</a> </li>
     @row.snippets.map { snippet =>
       @Html(snippet)
       <br>
     }
     <br><br>
    }
    </ol>
  } else {
    Ничего не найдено
  }
}
