@(results: Array[controllers.Searcher.Result], keywords: String)

<div class="content">
@main("Результаты поиска") {
  @form(keywords)
  <b>Показано @results.length документов</b>
  <br>
  <br>
  @if(results.length != 0) {
    <ol>
    @for(row <- results) {
     <li> <a target="_blank" href="https://github.com/limb-php-framework/limb/blob/master/@row.getLink">@row.getHeader</a> </li>
     @for(snippet <- row.getSnippets) {
       @Html(snippet)
       <br>
     }
     <br><br>
    }
    </ol>
  } else {
    Ничего не найдено
  }
}
</div>
